.file-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #bbb;
    background-color: #aaa;
    width: 100%;
}

.icon {
    display: block;
}

.icon label {
    text-align: center;
}